/* Base Styles */

* {
	box-sizing: border-box;
}

h1 {
	font-family: Brushstroke, fantasy;
	color: #000000;
}

body {
	
	background-color: #d8d8d8;

}

p {
	padding: 10px;
	margin: 0;
	font-family: Helvetica;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 0;
}
section {
	border:	1px solid black;
	background-color:#95989A;
	width: 100%;
	height: auto;
	margin-left:0;
	padding: 0;
	font-family: Helvetica;
	position: relative;
	overflow: auto;
}

#Chicken {
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	color: #FFFF00;
}
#biryani {
	text-align: center;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	color: #FFFF00;
}

#susi{
	text-align: center;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	color: #FFFF00;
	padding: 5px;
}
#Chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}
#biryani-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#susi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}
.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #f6b319;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid red;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
  border-radius: 0;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}
.item {
  color: white;
  font-size: 1.2em;
}